<h2>Neues To-Do hinzufügen</h2>

<form (ngSubmit)="onSubmit()" #form="ngForm">
  <div class="form-control">
    <label for="title">Titel:</label>
    <input type="text" class="input" id="title" name="title" [(ngModel)]="title" appError required>
  </div>

  <div class="form-control">
    <label for="description">Beschreibung:</label>
    <input type="text" class="input" id="description" name="description" [(ngModel)]="description">
  </div>

  <div class="form-control">
    <label for="dueDate">Fälligkeit:</label>
    <input
      type="text"
      class="input"
      id="dueDate"
      name="dueDate"
      [(ngModel)]="dueDate"
      placeholder="MM.TT.JJJJ hh:mm"
      appDate
      appError
      required>
  </div>

  <div class="form-control">
    <input type="checkbox" class="input" id="done" name="done" [(ngModel)]="done">
    <label for="done">Abgeschlossen? </label>
  </div>

  <div class="form-control">
    <input type="submit" class="btn btn--blue" value="hinzufügen" [disabled]="form.invalid">&nbsp;
    <a routerLink="/todos" queryParamsHandling="merge" class="link">zurück zur Übersicht</a>
  </div>
</form>
